@import "styles/variables.scss";
@import "styles/components.scss";

.root {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem 6rem;

	@media only screen and (max-width: $bp-small) {
		gap: 2rem 3rem;
	}
	@media only screen and (max-width: $bp-smallest) {
		gap: 1rem 2rem;
	}
}

.box {
	display: flex;
	flex-direction: column;
}

.header {
	font-size: 2.25rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1rem;
	grid-column: 1/-1;
}

.btn {
	grid-column: 1 / -1;
	justify-self: center;
}
