@import "../../styles/variables.scss";

.paginationContainer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    list-style-type: none;

    .paginationItem {
        padding: 0 12px;
        height: 32px;
        text-align: center;
        margin: auto 4px;
        color: $color-grey-dark-1;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        letter-spacing: 0.01071em;
        border-radius: 16px;
        line-height: 1.43;
        font-size: 13px;
        min-width: 32px;

        &Dots:hover {
            background-color: transparent;
            cursor: default;
        }
        &:hover {
            background-image: $gradient;
            cursor: pointer;
        }

        &Selected {
            background-image: $gradient;
        }

        &Disabled {
            pointer-events: none;

            .arrow::before {
                border-right: 0.12em solid $color-grey-dark-1;
                border-top: 0.12em solid $color-grey-dark-1;
            }

            &:hover {
                background-color: transparent;
                cursor: default;
            }
        }
    }
}

.arrow {
    &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: "";
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
    }

    &Left {
        transform: rotate(-135deg) translate(-50%);
    }

    &Right {
        transform: rotate(45deg);
    }
}
