@import "../../styles/variables.scss";

.bookmarks {
    padding: 1rem 0;
    position: absolute;
    // right: 0;
    right: -2.5rem;
    z-index: 1000;
    width: 40rem;
    background-color: #fff;
    box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);
    transition: all 0.5s;

    &List {
        list-style: none;
    }

    &Field {
        cursor: pointer;
        padding: 0 4rem;
        display: flex;
        align-items: center;
        height: 100%;
        transition: all 0.3s;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: $color-grey-light-2;
            }
        }
    }
}
