@import "../../styles/variables.scss";

.root {
	max-width: 80rem;
	margin: 0 auto;
	padding: 5rem 4rem;
	display: flex;
	justify-content: center;
	align-items: center;

	@media only screen and (max-width: $bp-smallest) {
		padding: 2rem 4rem;
	}
}

.icon {
	svg {
		height: 3rem;
		width: 3rem;
		fill: $color-primary;
		transform: translateY(-0.3rem);
	}
}

.text {
	margin-left: 1.5rem;
	font-size: 1.8rem;
	line-height: 1.5;
	font-weight: 600;
}
