@import "../../styles/variables.scss";

.message {
    max-width: 80rem;
    margin: 0 auto;
    padding: 5rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageIcon {
    svg {
        height: 3rem;
        width: 3rem;
        fill: $color-primary;
        transform: translateY(-0.3rem);
    }
}

.messageText {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
}
