@import "styles/variables.scss";

%btn {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: transform 0.3s;
	border: none;
	border-radius: 10rem;
	background-image: $gradient;
	color: $color-white;
	text-transform: uppercase;

	&:hover {
		transform: scale(1.05);
	}

	&:focus {
		outline: none;
	}

	& > *:first-child {
		margin-right: 1rem;

		@media only screen and (max-width: $bp-smallest) {
			margin-right: 0;
		}
	}
}

.btn {
	@extend %btn;

	padding: 1.5rem 4rem;
	font-size: 1.5rem;
	font-weight: 600;

	svg {
		width: 2.25rem;
		height: 2.25rem;
		fill: currentColor;
	}

	&:disabled {
		background-color: $color-grey-dark-2;
		background-image: none;
	}

	@media only screen and (max-width: $bp-standard) {
		padding: 1rem 2.25rem;
		font-size: 1.25rem;
	}
}

.btnSmall {
	@extend %btn;

	padding: 1.25rem 2.25rem;
	font-size: 1.4rem;
	font-weight: 600;

	svg {
		width: 1.75rem;
		height: 1.75rem;
		fill: currentColor;
	}
}

// .btnInline {
// 	display: flex;
// 	align-items: center;
// 	padding: 0.8rem 1.2rem;
// 	cursor: pointer;
// 	transition: all 0.2s;
// 	border: none;
// 	border-radius: 10rem;
// 	background-color: $color-grey-light-1;
// 	font-size: 1.3rem;
// 	font-weight: 600;
// 	color: $color-primary;

// 	svg {
// 		width: 1.6rem;
// 		height: 1.6rem;
// 		margin: 0 0.2rem;
// 		fill: currentColor;
// 	}

// 	span {
// 		margin: 0 0.4rem;
// 	}

// 	&:hover {
// 		background-color: $color-grey-light-2;
// 		color: $color-grad-2;
// 	}

// 	&:focus {
// 		outline: none;
// 	}
// }

.btnRound {
	@extend %btn;

	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;

	& > *:first-child {
		margin-right: 0;
	}

	svg {
		width: 2.5rem;
		height: 2.5rem;
		fill: $color-white;
	}
}

.btnTiny {
	width: 2.25rem;
	height: 2.25rem;
	cursor: pointer;
	border: none;
	background: none;
	outline: none;

	svg {
		width: 100%;
		height: 100%;
		transition: transform 0.3s;
		fill: $color-primary;
	}

	&:hover svg {
		transform: translateY(-5px);
		fill: $color-grad-2;
	}

	&:active svg {
		transform: translateY(0);
		fill: $color-grad-2;
	}

	&:not(:last-child) {
		margin-right: 0.3rem;
	}
}
