@import "../../styles/variables.scss";
@import "../../styles/components.scss";

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.modalContent {
    position: fixed;
    width: 100rem;
    background-color: white;
    border-radius: 9px;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);

    @media only screen and (max-width: $bp-medium) {
        width: 75vw;
    }

    @media only screen and (max-width: $bp-small) {
        width: 85vw;
        padding: 3rem 4rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        width: 90vw;
        padding: 2rem 2rem;
    }
}

.btnCloseModal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    font-size: 3.5rem;
    cursor: pointer;
    border: none;
    background: none;
}
